<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Library Management System</h1>
            <p>A Library Management System is a software built to handle the primary housekeeping functions
                of a library. Libraries rely on library management systems to manage asset collections as well as
                relationships with their members. Library management systems help libraries keep track of the
                books and their checkouts, as well as members’ subscriptions and profiles.
                Develop a web-based library management application that manage information about books
                only.</p> 
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Required:The application must meet/has the following!</h3>
                <ul>
                    <li>A. Front-end
                        <ul> 
                            <li> A web form to capture book details.</li>
                            <li> A web page displaying all the books in the library.</li>
                            <li> Page links/ Buttons/Graphical User Interface.</li>
                        </ul>
                    </li>
                    <li>B. Server-side
                        <ul> 
                            <li> Web server using express.js.</li>
                            <li> Web templating-EJS.</li>
                            <li> Use views.</li>
                            <li> Implement routing.</li>
                        </ul>                        
                    </li>
                    <li>C. Database
                        <ul> 
                            <li> Use mongodb to store your library data.</li>
                        </ul>        
                    </li>
                </ul>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>